## Description:

The program basically focuses on analysis of various features with respect to their location on the map. The data has been observed and cleaned in the starting of the notebook and then it has been visualized through interactive plots at the end.

The dataset in this notebook is from 1996 - 2000.

## How to use:

The program is pretty simple to use since we're using a markdown. First of all you should have a Jupyter Notebook to open the ipynb or alternatively you can access the file by uploading on google drive. Make sure you have following libraries installed:

Pandas

Numpy

SkLearn

Folium

In [1]:
import numpy as np
import pandas as pd
import folium
from sklearn import preprocessing
from folium.plugins import HeatMap

In [3]:
data_btl = pd.read_csv('cst_btl_FinalDataset.csv')
data_btl = data_btl.loc[data_btl['Date']<'2000-01-01']

In [6]:
mean_lat = data_btl['latitude'].mean()
mean_long = data_btl['longitude'].mean()
print(mean_lat)
print(mean_long)

32.75742084379031
-121.02944196088752

In [7]:
def generateBaseMap(default_location=[mean_lat, mean_long], default_zoom_start=6):
    base_map = folium.Map(location=default_location, control_scale=True, zoom_start=default_zoom_start)
    return base_map

def AddPinsToMap(data, base_map, color, column):
    for i in range(len(data[column])):
        tooltip = data[column][i]
        folium.Marker([data['latitude'][i], data['longitude'][i]], popup="<b>"+str(data['latitude'][i])[:5]+","+str(data['longitude'][i])[:6]+"\n"+data['Date'][i]+"\nCast Count:"+str(data[column][i])+"\n"+"</b>",
        icon=folium.Icon(color=color, icon="record"), tooltip=tooltip,
    ).add_to(base_map)

In [8]:
data_TdegC = data_btl[['latitude', 'longitude', "T_degC", 'Date']]

In [9]:
data_TdegC.head()

    latitude   longitude  T_degC        Date
0  32.953333 -117.306666   13.86  1996-01-30
1  32.953333 -117.306666   13.86  1996-01-30
2  32.953333 -117.306666   13.85  1996-01-30
3  32.953333 -117.306666   13.75  1996-01-30
4  32.953333 -117.306666   13.33  1996-01-30

In [10]:
data_TdegC.describe()

           latitude     longitude        T_degC
count  32014.000000  32014.000000  32014.000000
mean      32.757421   -121.029442     11.504198
std        1.300620      1.942072      3.849297
min       29.830000   -124.335000      3.130000
25%       31.911666   -122.665000      8.280000
50%       32.848333   -121.053333     10.990000
75%       33.656666   -119.480000     14.590000
max       36.820000   -117.303333     23.420000

In [11]:
base_map_TdegC = generateBaseMap(default_location = [mean_lat, mean_long])
HeatMap(data=data_TdegC[['latitude', 'longitude', "T_degC"]].groupby(['latitude', 'longitude']).sum().reset_index().values.tolist(), radius=8, max_zoom=13).add_to(base_map_TdegC)
AddPinsToMap(data_TdegC, base_map_TdegC, 'green', "T_degC")

loc = "Temperature (degrees Celsius) Pins"
title_html = '''
                 <h3 align="center" style="font-size:16px"><b>{}</b></h3>
                 '''.format(loc)
base_map_TdegC.get_root().html.add_child(folium.Element(title_html))

In [ ]:
base_map_TdegC

## Conclusion:

Here we can observe a few things like as we move towards sea from the coast, the temperature falls.